<div *ngIf="currentPost | async as post; else loading">
  <div class="post">

    <div class="post__header">
      <h1>{{ post?.title }}</h1>

      <button routerLink="/" class="btn btn-link">To home page</button>
    </div>

    <div class="post__info">
      <strong>{{ post?.author }}</strong>
      <small>{{ post?.date | date: 'dd.MM.yyyy' }}</small>
    </div>

    <div>
      <quill-view-html [content]="post?.text"></quill-view-html>
    </div>

    <div class="post__rating-block">

      <label *ngIf="post?.rating.averageRating; else notAverageRating"
             class="label" for="rating" style="color: #dc3545">
        Post rating: {{ post?.rating.averageRating }}
      </label>

      <ng-template #notAverageRating>
        <label class="label" for="rating" style="color: #dc3545">
          This post has no rating.
        </label>
      </ng-template>

      <input class="input" type="range" name="rating" id="rating"
             min="1" max="5" step="1" (click)="test()" (input)="inputChange($event.target)">

      <div class="rating">

        <div class="rating__body">

          <div class="rating__active"></div>

          <div class="rating__items" (click)="getRatingValue()">
            <input type="radio" class="rating__item" value="1" name="rating">
            <input type="radio" class="rating__item" value="2" name="rating">
            <input type="radio" class="rating__item" value="3" name="rating">
            <input type="radio" class="rating__item" value="4" name="rating">
            <input type="radio" class="rating__item" value="5" name="rating">
          </div>

        </div>

        <div class="rating__value">{{ this.rating | number:'1.0-2' }}</div>

      </div>


    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Loading post...</p>
</ng-template>
