<div *ngIf="currentPost | async as post; else loading">
<!--  <pre>{{post | json}}</pre>-->
  <div class="post">

    <div class="post__header">
      <h1>{{ post.title }}</h1>

      <button routerLink="/" class="btn btn-link">To home page</button>
    </div>

    <div class="post__info">
      <strong>{{ post.author }}</strong>
      <small>{{ post.date | date: 'dd.MM.yyyy' }}</small>
    </div>

    <div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>

    <div class="post__rating-block">

      <div class="rating">

        <div class="rating__body">

<!--          <div class="rating__active"-->
<!--               [ngStyle]="{'width': (this.starRating / 5 * 100 + '%') || 0 }">-->
<!--          </div>-->

          <div class="rating__items" (click)="setRatingValue($event, post)">
            <input type="radio" class="rating__item" value="1" name="rating">
            <input type="radio" class="rating__item" value="2" name="rating">
            <input type="radio" class="rating__item" value="3" name="rating">
            <input type="radio" class="rating__item" value="4" name="rating">
            <input type="radio" class="rating__item" value="5" name="rating">
          </div>

        </div>

        <div class="rating__value" (click)="test()">
          Post rating: {{ (this.starRating | number:'1.0-2') || 0 }}<br>
          Your assessment: {{ this.currentAssessment || 0 }}<br>
          Number of votes: {{ this.post.scoreArray ? this.post.scoreArray.length : 0 }}
        </div>

      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Loading post...</p>
</ng-template>
