<div *ngIf="currentPost | async as post; else loading">
  <div class="post">

    <div class="post__header">
      <h1>{{ post?.title }}</h1>

      <button routerLink="/" class="btn btn-link">To home page</button>
    </div>

    <div class="post__info">
      <strong>{{ post?.author }}</strong>
      <small>{{ post?.date | date: 'dd.MM.yyyy' }}</small>
    </div>

    <div>
      <quill-view-html [content]="post?.text"></quill-view-html>
    </div>

    <div class="post__rating-block">

      <div class="rating">

        <div class="rating__body">

          <div class="rating__active"></div>

          <div class="rating__items" (click)="getRatingValue($event)">
            <input type="radio" class="rating__item" value="1" name="rating">
            <input type="radio" class="rating__item" value="2" name="rating">
            <input type="radio" class="rating__item" value="3" name="rating">
            <input type="radio" class="rating__item" value="4" name="rating">
            <input type="radio" class="rating__item" value="5" name="rating">
          </div>

        </div>

        <div class="rating__value"
             *ngIf="post?.rating.averageRating;
             else notAverageRating">
          Post rating: {{ this.rating | number:'1.0-2' }}
        </div>

        <ng-template #notAverageRating>
          <div class="rating__value">This post has no rating.</div>
        </ng-template>

      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Loading post...</p>
</ng-template>
