<header class="header">

  <h2 class="header__title">My application</h2>

  <nav class="header-navigation">

    <ul class="header-navigation__list">

      <li class="header-navigation__item">
        <a class="header-navigation__link" href="#">My angular blog</a>
      </li>
      <li class="header-navigation__item">
        <a class="header-navigation__link" href="#">My slider</a>
      </li>
      <li class="header-navigation__item">
        <a class="header-navigation__link" href="#">...</a>
      </li>

    </ul>

  </nav>

</header>


