<form [formGroup]="form">
  <h1>Create new post</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form?.get('title').touched && form?.get('title').invalid}"
  >
    <label for="title">Post title:</label>
    <input id="title" type="text" formControlName="title">
    <div
      class="validation"
      *ngIf="form?.get('title').touched && form?.get('title').invalid"
    >
      <small *ngIf="form?.get('title').errors.required">
        Enter the title
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>
      Post content
    </label>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form?.get('author').touched && form?.get('author').invalid}"
  >
    <label for="author">Content author:</label>
    <input id="author" type="text" formControlName="author">
    <div
      class="validation"
      *ngIf="form?.get('author').touched && form?.get('author').invalid"
    >
      <small *ngIf="form?.get('author').errors.required">
        Enter the author
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form?.invalid"
  >Create post
  </button>


</form>
