
<p>{{arr | slice: updateShowingPosts().sliceStart : updateShowingPosts().sliceEnd}}</p>

<div class="tools-paginator">

  <span class="tools-paginator__info">
    Showing posts from {{updateShowingPosts().sliceStart + 1}} to
    {{updateShowingPosts().sliceEnd <= arr.length ? updateShowingPosts().sliceEnd : arr.length}}
    of {{arr.length}}
  </span>

  <ul class="tools-paginator__list">

    <button class="paginator__button"
            (click)="clickLeft()">
      <div class="btn-paginator left">
        <<<
      </div>
    </button>

    <li class="tools-paginator__item"
        *ngFor="let page of this.getArrayWithDots(); let first = first">

      <a class="tools-paginator__button"
         [ngClass]="{'active-btn': first}"
         (click)="clickPage($event)" *ngIf="page !== '...'; else dotsBlock">
        {{page}}
      </a>

      <ng-template #dotsBlock>
        <a class="tools-paginator__button" style="pointer-events: none;">
          {{page}}
        </a>
      </ng-template>

    </li>

    <button class="paginator__button"
            (click)="clickRight()">
      <div class="btn-paginator right">
        >>>
      </div>
    </button>

  </ul>

</div>
