<div class="tools-paginator">

  <span class="tools-paginator__info">
    Showing posts from {{updateShowingPosts.sliceStart + 1}} to
    {{updateShowingPosts.sliceEnd <= posts.length ? updateShowingPosts.sliceEnd : posts.length}}
    of {{posts.length}}
  </span>


  <div class="tools-paginator__wrapper">
    <button class="tools-paginator__button"
            *ngIf="currentPage === 1; else elseLeftBtn"
            disabled="disabled"
    >
      <div class="btn-paginator left"></div>
    </button>

    <ng-template #elseLeftBtn>

      <button class="tools-paginator__button"
              (click)="clickLeft()">
        <div class="btn-paginator left"></div>
      </button>

    </ng-template>

    <ul class="tools-paginator__list">

      <li class="tools-paginator__item"
          *ngFor="let page of this.getArrayWithDots">

        <a class="tools-paginator__button"
           (click)="clickPage($event)" *ngIf="page !== '...'; else dotsBlock">
          {{page}}
        </a>

        <ng-template #dotsBlock>
          <a class="tools-paginator__button" style="pointer-events: none;">
            {{page}}
          </a>
        </ng-template>

      </li>

    </ul>

    <button class="tools-paginator__button"
            (click)="clickRight()"
            *ngIf="currentPage !== arrPageNumbers.length; else elseRightBtn">
      <div class="btn-paginator right"></div>
    </button>

    <ng-template #elseRightBtn>
      <button class="tools-paginator__button" disabled="disabled">
        <div class="btn-paginator right"></div>
      </button>
    </ng-template>

  </div>

</div>
