<div class="slider wrap">

  <h2 class="slider__title">Slider</h2>

  <div class="slider__container">

    <button class="slider__button" disabled="disabled"
            *ngIf="sliceStart === 0; else elseLeftBtn"
    ><div class="btn-slider left"></div></button>

    <ng-template #elseLeftBtn>

      <button class="slider__button"
              (click)="clickLeft()">
        <div class="btn-slider left"></div>
      </button>

    </ng-template>

    <ul class="slider__list" *ngIf="posts$ | async as posts; else loading">

      <li class="slider__item"
          *ngFor="let post of posts | slice: sliceStart: sliceEnd">

        <div class="slider__wrapper">
          <h3 class="slider__subtitle">{{ post?.title | stringClipping: 12 }}</h3>

          <small class="slider__text">{{ post?.date | date: 'dd.MM.yyyy' }}</small>

          <small class="slider__text">{{ post?.author | stringClipping: 14  }}</small>
        </div>

        <div class="slider__wrapper">

          <button
            [routerLink]="['/post', post?.id]"
            class="slider__list-button btn btn-dark"
          >Open
          </button>

        </div>


      </li>

    </ul>

    <ng-template #loading>
      <div>
        <p class="text-center">Loading posts...</p>
      </div>
    </ng-template>

    <button class="slider__button"
            (click)="clickRight()"
            *ngIf="sliceEnd !== postsArr.length; else elseRightBtn">
      <div class="btn-slider right"></div>
    </button>

    <ng-template #elseRightBtn>
      <button class="slider__button" disabled="disabled">
        <div class="btn-slider right"></div>
      </button>
    </ng-template>

  </div>

</div>
