<div class="slider wrap">

  <h2 class="slider__title">Slider</h2>

  <div class="slider__container">


    <button class="slider__button left" disabled="disabled"
            *ngIf="start === 0; else elseLeftBtn"
    >
      <<<<<
    </button>

    <ng-template #elseLeftBtn>

      <button class="slider__button"
              (click)="clickLeft()">
        <<<<<
      </button>

    </ng-template>

    <ul class="slider__list">

      <li class="slider__item"
          *ngFor="let el of array | slice: start: end">
        {{ el }}
      </li>

    </ul>

    <button class="slider__button right"
            (click)="clickRight()" *ngIf="end !== array.length; else elseRightBtn">

      >>>>>
    </button>

    <ng-template #elseRightBtn>
      <button class="slider__button" disabled="disabled">>>>>></button>
    </ng-template>

  </div>

</div>
