p {
  font-size: 1.5rem;
}

input {
  border: 3px solid #333;
  &.ng-touched.ng-invalid {
    border: 3px solid red;
  }
  &.ng-touched.ng-valid {
    border: 3px solid green;
  }
}

small {
  margin: 0.2rem 0;
  padding: 0.2rem 0;
}
