<div class="container">
  <h1>My Angular application</h1>

  <p class="green" [muaStyle] = "'green'" [dStyles]="{border: '10px ridge rgba(170, 50, 220, .6)', fontWeight: 'bold'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, in!
  </p>

  <p class="green" [muaStyle] = "'green'" [dStyles]="{border: '10px dotted pink', fontWeight: 'bold'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, in!
  </p>

  <button class="btn" (click)="isViseble = !isViseble">toggle</button>
  <div *ngIf="isViseble" class="wrap">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>

  <ng-template [ngIf]="isViseble" >
    <div class="wrap">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </ng-template>

  <div *muaIfnote="isViseble" class="wrap">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>

</div>
