h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 20px;
}

.blue,
.green {
  padding: 30px;
  font-size: 40px;
  background-color: blue;
  color: brown;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
