.wrap {
  padding-top: 3rem;
  width: 500px;
  margin: 0 auto;
}

.box {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: cornsilk;
  border: 1px solid #000000;
}

.btn {
  margin: 2rem;

  user-select: none;
  background-color: brown;
}
