.footer {
  background-color: var(--dark-color);

  &__test {
    width: 780px;
    margin: 0 auto;
    color: white;
  }
}


.footer-container {
  margin: 0 auto;
  padding: 15px;
  max-width: 780px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}


